@media (max-width: 1250px) {
  .testimoials__wrapper {
    margin-left: 200px;
    gap: 120px;
  }
}

@media (max-width: 1150px) {
  .plan__wrapper {
    flex-direction: column;
    gap: 64px;
    align-items: center;
    height: 100%;
  }
  .plan {
    padding: 64px 24px;
  }
  .images_search_border {
    bottom: 100px;
  }
  .testimoials__wrapper {
    margin-left: 80px;
    gap: 80px;
  }
  .carousel {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .reading {
    height: auto;
    padding: 48px;
  }
  .carousel__lens {
    top: 25%;
  }
}

@media (max-width: 991.98px) {
  .header__list {
    gap: 28px;
  }
  .footer {
    flex: 0 0 auto;
    height: 257px;
  }
  .about__features {
    grid-template-columns: repeat(2, 0.5fr);
    row-gap: 64px;
  }
  .about__box {
    gap: 32px;
    height: 100%;
  }
  .sign-up__wrapper {
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 32px;
  }

  .sign-up__box {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sign-up__button {
    width: 184px;
    height: 59px;
  }
  .accordion__button {
    grid-row: 3;
    grid-column: 2;
  }
  .testimoials__wrapper {
    flex-direction: column;
    overflow-x: hidden;
    padding: 48px 16px;
    gap: 80px;
    margin-left: 10px;
  }
  .opacity__box {
    display: none;
  }
  .testimonials__quotes-wrapper {
    grid-template-columns: 1fr;
  }
  .testimonials {
    height: 100%;
  }
  .about__container {
    height: 700px;
  }
  .header__list {
    gap: 12px;
  }
  .header__icons-button {
    gap: 20px;
  }
}

@media (max-width: 787.98px) {
  .burger {
    display: block;
    z-index: 1;
  }

  .header__icons-button {
    justify-content: flex-end;
    margin-left: auto;
  }

  .footer {
    flex: 0 0 auto;
    height: 207px;
  }

  .footer__container {
    margin-top: 70px;
  }
  .increase__text {
    margin-top: 62px;
    max-width: 100%;
  }

  .increase__buttons {
    justify-content: space-around;
  }

  .customers__left {
    padding: 33px 45px;
  }
  .sign-up__box {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sign-up__text {
    padding: 0 18px;
    display: inline-block;
  }
  .sign-up__form-wrapper {
    flex-direction: column;
  }
  .get-started__text {
    padding: 0 32px;
    display: inline-block;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: -19px;
    left: -46px;
    height: 100vh;
    width: 100vw;
    color: #333;
    font-size: 20px;
    transform: translateX(100%);

    opacity: 0;

    transition: all 0.5s ease-in;

    pointer-events: none;
    visibility: hidden;
  }

  .header__logo-list {
    width: 5px;
  }
  .images_main_border {
    display: none;
  }
  .images_event_border {
    left: 175px;
  }
  .images_search_border {
    right: 177px;
    bottom: 0;
  }
  .testimoials__wrapper {
    margin-left: 0;
    padding: 48px 6px;
  }
  .testimonials__text-box {
    width: 333px;
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }
  .carousel {
    padding: 52px 20px;
  }
  .carousel__images {
    height: 330px;
  }
  .carousel__lens {
    top: 27%;
  }
  .small-image,
  .small-image-2 {
    display: none;
  }
  .carousel__text-box {
    width: 100%;
  }
  .carousel__images {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
  }
  .carousel__lens {
    display: none;
  }
  .sign-up__button {
    width: 304px;
  }
  .text-box__buttons {
    align-self: center;
  }
  .header__icons {
    gap: 30px;
  }
}

@media (max-width: 479.98px) {
  .footer {
    flex: 0 0 auto;
    height: 150px;
  }
  .header__icons {
    display: none;
  }
  .footer__container {
    margin-top: 40px;
  }
  .increase__text {
    margin-top: 62px;
    max-width: 100%;
  }

  .increase__buttons {
    height: 184px;
    padding: 80px 0 0 0;
    justify-content: space-around;
  }

  .increase__text_title {
    font-size: 40px;
  }

  .increase {
    height: 520px;
  }
  .left__box_number {
    font-size: 32px;
  }
  .left__box_text {
    font-size: 14px;
  }
  .left__box_icon img {
    height: 48px;
  }
  .customers__left {
    padding: 30px 40px;
  }
  .about__features {
    grid-template-columns: repeat(1, 0.8fr);
    gap: 44px;
    justify-content: center;
  }
  .about__box {
    height: 100%;
  }

  .about {
    height: 100%;
    margin: 64px auto;
  }
  .about__container {
    height: 100%;
  }

  .about__buttons {
    width: 100%;
    gap: 14px;
  }
  .get-started__img {
    height: 160px;
  }
  .get-started__title {
    font-size: 34px;
  }
  .get-started__wrapper {
    gap: 16px;
  }
  .content__title {
    font-size: 28px;
  }

  .plan__wrapper {
    width: 100%;
    margin-right: 0;
  }

  .plan__content {
    width: 100%;
  }
  .plan {
    padding: 48px 12px;
  }
  .images_event_border {
    left: 177px;
    top: 100px;
  }
  .accordion__title {
    font-size: 20px;
  }
  .quotes__box {
    width: 100%;
    padding: 20px;
  }
  .quotes__box img {
    position: absolute;
    transform: translateY(178%);
  }
  .testimonials__text-box {
    width: 100%;
    padding: 24px;
  }
  .text-box__title {
    font-size: 30px;
  }
  .text-box__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-top: 9px;
  }
  .buttons__link {
    margin-left: 0;
  }
  .carousel {
    padding: 52px 6px 64px 6px;
  }
  .reading {
    padding: 24px;
  }
  .carousel__text-box {
    padding: 0 10px;
  }
  .reading {
    padding: 80px 24px 48px 24px;
  }
  .accordion {
    margin: 100px auto;
  }
  .content__buttons {
    justify-content: center;
  }
}
