html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*======================================================================================*/

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1441px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  /* max-width: 1206px; */
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 5px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 32px;
  width: 100%;
  position: relative;
}

.header__menu {
  margin-left: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__list {
  font-weight: 500;
  display: flex;
  gap: 42px;
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;
}

.list__link:link,
.list__link:visited {
  text-decoration: none;
  color: #697ca6;
  margin-right: 5px;
  font-weight: 700;
}

.nav-open .header__list {
  opacity: 1;

  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}
.nav-open .menu__button--close {
  display: block;
}

.nav-open .menu__button--open {
  display: none;
}

.list__link:hover,
.list__link:active {
  color: #5e81fe;
  font-weight: 700;
}

.header__icons-button {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header__icons {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.header__button {
  margin-left: 5px;
}

.button {
  color: #3a79ff;
  width: 113px;
  height: 42px;
  background-color: #d2e1ff;
  border-radius: 2px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.button:active {
  background-color: #b3cdff;
}

.menu__button--close,
.menu__button--open {
  width: 32px;
  height: 32px;
}
.menu__button--close {
  display: none;
}

.burger {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.sticky .header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  bottom: 0;
  z-index: 999;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
}
.sticky .wrapper {
  margin-top: 80px;
}
/*===================================================================*/

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
  height: 287px;
}

.footer__container {
  height: 101px;
  flex-direction: column;
  align-items: start;
  margin-top: 93px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #aeb8d0;
  margin-left: 65px;
}

/*======================================*/

.increase {
  background-color: #f4f7ff;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4px;
}

.increase__text {
  width: 586px;
  height: 194px;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.increase__text_up {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d4f9f;
}

.increase__text_title {
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #3d4f9f;
}

.increase__text_title > span {
  font-weight: 500;
}

.increase__text_down {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #8d96bd;
}

.increase__buttons {
  width: 52px;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
}

.increase__buttons_one {
  text-decoration: none;
}

.increase__buttons_one > div {
  content: "";
  height: 52px;
  width: 52px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 13px;
}
.play {
  fill: #5e81ff;
  stroke: #5e81ff;
  width: 12px;
  height: 12px;
}
.increase__buttons_three {
  height: 10px;
  display: flex;
  justify-content: space-between;
}

.small-circle {
  content: "";
  height: 8px;
  width: 8px;
  background-color: #aeb8d0;
  border-radius: 50%;
  color: #aeb8d0;
}

.small-circle:hover {
  background-color: #5e81fe;
}

/*====================================*/

.partners {
  height: 145px;
  display: flex;
  align-items: center;
}

.partners__container {
  display: flex;
  width: 888px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.partners__image {
  margin: 5px;
}

/*============================================*/
.plan {
  background-color: #f5f8ff;
  height: 776px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.plan__wrapper {
  width: 1090px;
  display: flex;
  margin-right: -36px;
  justify-content: space-between;
}

.plan__content {
  height: 352px;
  width: 413px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}

.content__title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}

.content__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.content__buttons {
  display: flex;
}

.content__buttons_video {
  text-decoration: none;
}

.buttons__video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 43px;
  color: #fff;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  background-color: #4c85ff;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.play_video {
  width: 7px;
  height: 7px;
  fill: #fff;
  stroke: #fff;
  margin-left: 6px;
  margin-top: 2px;
}

.content__buttons_features {
  text-decoration: none;
}

.buttons__feature {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 43px;
  color: #adb4d2;
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  background-color: #f5f8ff;
  border: 1px solid #d1d1e4;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.plan__images {
  display: flex;
  height: 436px;
  min-width: 620px;
  position: relative;
}

.images_event_border {
  width: 107px;
  height: 214px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 111px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(88, 105, 169, 0.25);
}

.plan__images_event {
  width: 107px;
  margin-top: 12px;
}

.images_main_border {
  width: 540px;
  height: 349px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 2;
  position: absolute;
  right: 15px;
  box-shadow: 0px 0px 30px rgba(88, 105, 169, 0.25);
}

.plan__images_main {
  width: 508px;
  margin: 16px;
}

.images_search_border {
  position: absolute;
  z-index: 3;
  bottom: 13px;
  right: 30px;
  height: 280px;
  width: 143px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(88, 105, 169, 0.25);
}

.plan__images_search {
  width: 143px;
  height: 256px;
  margin-top: 12px;
}
/* FEAUTURES */
.about {
  height: 885px;
  display: flex;
  align-items: center;
}
.about__container {
  height: 573px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about__box {
  height: 543px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about__box_text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 229px;
  height: 62px;
}
.about__box_subtitle {
  font-family: "Roboto", sans-serif;
  color: #3d4f9f;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}

.about__box h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #3d4f9f;
}

.about__features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 67px;
  row-gap: 25px;
  justify-items: center;
}
.feauture__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #4074f8;
}
.feature__text {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  color: #adb3cb;
}
.about__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 337px;
}

.about__buttons p {
  font-size: 11px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #adb3cb;
}

.about__buttons_red {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #d43f3f;
  background-color: #ffd7d7;
}
.about__buttons_red:active {
  background-color: #e6c2c2;
}

.about__buttons_blue {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.features__icon {
  width: 32px;
  height: 32px;
  stroke: #4074f8;
  background-color: #f1f5ff;
  border-radius: 50%;
  border: 15px solid #f1f5ff;
}
.feature__item {
  gap: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 184px;
}
/* =========CUSTOMERS NUMBERS SECTION================== */
.customers {
  height: 343px;
  display: flex;
  font-family: "Quicksand";
}
.customers__left {
  width: 50%;
  background: linear-gradient(to left bottom, #6888ff, #5e80ff);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 66px 90px;
  font-weight: 400;
}
.left__box {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 260px;
  height: 210px;
  justify-content: space-between;
}

.right__box {
  align-items: start;
  color: #5e80ff;
}
.left__box_icon {
  height: 64px;
}
.left__box_number {
  font-size: 48px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0.03em;
  text-align: right;
  color: #ffffff;
}

.right__box_number {
  color: #5e80ff;
}
.left__box_text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: right;
}
.right__box_text {
  text-align: left;
  color: #5e80ff;
}
.customers__right {
  width: 50%;
  justify-content: start;
  background: linear-gradient(to right bottom, #e9efff, #e0e9ff);
}
/* =========CAROUSEL SECTION================== */

.reading {
  height: 865px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f8ff;
}
.reading__title-box {
  height: 62px;
  width: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 92px;
}
.reading__subtitle {
  color: #3d4f9f;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
}
.reading__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #3d4f9f;
}
.carousel {
  height: 394px;
  width: 958px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  justify-content: space-between;
  border: 1px solid #b3cdff;
  margin-bottom: 100px;
  padding: 63px 35px 63px 40px;
  box-shadow: 0 0 24px rgb(179, 205, 255, 0.25);
}
.carousel__images {
  width: 267px;
  height: 407px;
  display: grid;
  grid-template-columns: 267px 126px;
  grid-template-rows: 126px 126px;
  row-gap: 17px;
  column-gap: 13px;
}

.main-image {
  width: 267px;
  border-radius: 6px;
}

.small-image {
  width: 127px;
  border-radius: 6px;
}

.small-image-2 {
  grid-column: 2;
  align-self: end;
}
.carousel__text-box {
  width: 408px;
  height: 267px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-box__title {
  color: #3d4f9f;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
}
.text-box__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #8d96bd;
}

.buttons__link {
  color: #a6b6da;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  margin-left: 25px;
}
.arrow-left {
  width: 24px;
  stroke: #a8b4e5;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 0;
  transform: translate(-74px, -50%);
}
.arrow-right {
  width: 24px;
  stroke: #a8b4e5;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 0;
  transform: translate(74px, -50%);
}

.carousel__lens {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(105px, -50%);
}

.lens {
  width: 24px;
  stroke: #a7aac6;
}
.dots {
  display: flex;
  gap: 12px;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1d6e3;
  cursor: pointer;
}
.full {
  background-color: #5283ff;
}

/* ACCORDION SECTION */

.accordion {
  max-width: 743px;
  margin: 175px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.open .accordion__button,
.open .accordion__text_big {
  display: block;
  visibility: visible;
}

.open .accordion__text,
.open .icon_small {
  color: #495274;
  stroke: #495274;
}

.open .icon_small {
  transform: rotate(180deg);
}
.accordion__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}

.accordion__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #3d4f9f;
  margin-bottom: 48px;
}

.accordion__list {
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 20px;
  column-gap: 10px;
  align-items: center;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #d8e3fe;
  padding: 15px 0;
}

.icon_small {
  width: 24px;
  height: 24px;
  stroke: #8d96bd;
  cursor: pointer;
}

.accordion__text {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #8e96b7;
}

.accordion__button {
  grid-row: 2;
  grid-column: 3;
  display: none;
}

.faq-button {
  width: 195px;
  height: 43px;
  background-color: #e8ecf4;
  color: #7382a3;
  cursor: pointer;
}

.faq-button:active {
  background-color: #babdc3;
}

.accordion__text_big {
  grid-row: 2;
  grid-column: 2;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  display: none;
  padding: 0 20px;
}

/* SIGN UP SECTION */
.sign-up {
  height: 332px;
  border-bottom: 1px solid #b3cdff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up__wrapper {
  width: 887px;
  height: 95px;
  display: flex;
  justify-content: space-between;
}
.sign-up__box {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sign-up__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  color: #3d4f9f;
}
.sign-up__text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #8d96bd;
}
.sign-up__form-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}
.sign-up__form-wrapper input {
  border: none;
  width: 279px;
  height: 59px;
  background-color: #efeff7;
  border-radius: 2px;
  padding-left: 23px;
}
.sign-up__form-wrapper input::placeholder {
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}

.sign-up__button {
  width: 184px;
  height: 59px;
  background-color: #4d6ce1;
  color: #fff;
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(104, 137, 255, 0.508);
}

/* GET STARTED SECTION */
.get-started {
  height: 447px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#6888ff, #5e80ff);
}
.get-started__wrapper {
  width: 712px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.get-started__subtitle {
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.get-started__title {
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.get-started__title strong {
  font-weight: 500;
}
.get-started__text {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  z-index: 1;
}
.get-started__buttons {
  display: flex;
  justify-content: center;
}

.get-started__buttons *:focus {
  outline: none;
  box-shadow: 0 0 0 3px #bfccff;
}
.view {
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #565f82;
  background-color: #fff;
  padding: 13px 26px;
  width: 100%;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.read {
  width: 100%;
  padding: 13px;
  font-family: "quicksand";
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #c7d3ff;
  background-color: #5e80ff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #a6b6da;
  border-left: none;
}

.read:active {
  background-color: #7e99ff;
}

.get-started__img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 250px;
}

/* TESTIMONIALS SECTION */

.testimonials {
  height: 480px;
  border-bottom: 1px solid #d8e3fe;
  border-top: 1px solid #d8e3fe;
  background: linear-gradient(#eaf0ff, #f6f9ff);
}
.testimoials__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 276px;
  overflow: hidden;
  gap: 132px;
}
.testimonials__text-box {
  min-width: 333px;
  height: 187px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-box__subtitle {
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #3d4f9f;
  text-transform: uppercase;
}
.text-box__title {
  color: #3d4f9f;
  font-family: "Quicksand";
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
.text-box__text {
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #a4abc8;
}
.testimonials__quotes-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 64px;
  row-gap: 78px;
}

.quotes__box {
  width: 423px;
  height: 175px;
  background-color: #fff;
  padding: 40px 70px;
  border: 1px solid #d8e3fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 30px 1px #d8e3fe;
}

.quotes__box img {
  width: 64px;
  margin-top: 5px;
}

.quotes__text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #676f95;
}

.quotes__dots {
  justify-self: center;
}

.opacity__box {
  opacity: 0.3;
}
